@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  h2 {
    color: white;
    margin-bottom: 0.75rem;
    font-family: "Nunito", sans-serif;
    animation: fadeUp 1.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
}

body {
  background: #000000;
}

@keyframes fadeUp {
  from {
    transform: translateY(-60px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
