.order {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;

  &__button__enabled,
  &__button__disabled {
    background: none;
    outline: none;
    border-radius: 6px;
    border: 0;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    padding: 0.6rem;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 1rem;
    align-items: center;
    display: flex;

    svg {
      font-size: 20px;
      margin-right: 5px;
      margin-bottom: 1px;
    }
  }

  &__button__disabled {
    background: rgb(235, 51, 51);

    &:hover {
      background: red;
    }
  }
  &__button__enabled {
    background: rgb(22, 126, 8);

    &:hover {
      background: darkgreen;
    }
  }
}

.summary {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;

  span {
    color: red;
  }
}
