.square {
  border: 1px double transparent;
  background-image: linear-gradient(#000000, #000000),
    radial-gradient(circle at right, #23a3df, #5d99be);
  background-origin: border-box;
  background-clip: content-box, border-box;

  &__button {
    width: 9.4rem;
    height: 9.4rem;
    color: rgb(231, 200, 97);
    font-size: 5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    background: none;
    border: none;
    box-shadow: inset 0px 0px 20px 10px rgba(56, 173, 228, 0.22);
  }
}
