.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: rgba(241, 237, 240, 0.92);
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 100%;
  }

  &__elements {
    display: flex;
    margin-left: auto;
    &__navbar {
      list-style: none;
      margin: 0 10px;
    }
    &__items {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      font-size: 1.3rem;
      font-family: "Questrial", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      transition: color 300ms ease;
      letter-spacing: 2px;

      &:hover,
      &:focus {
        color: rgb(236, 6, 26);
      }
    }
  }
}
