.recipe {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  background: url("../../assets/cover2.jpg");
  background-size: contain;
  background-attachment: fixed;
}
