.recipe__search {
  margin-right: 1rem;

  &__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    background: white;
    transition: all 0.2s ease;

    &:hover {
      background: #df316b;
      color: white;
    }

    &__input {
      border-radius: 8px;
      width: 100%;
      height: 42px;
      border: none;
      outline: none;
      background: none;
      text-align: left;
      font-size: 1.1rem;
      font-weight: 400;
      padding-left: 3.2em;
      box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.1);
      font-family: "Questrial", sans-serif;
      cursor: pointer;
      transition: all 0.3ms ease;

      &:hover {
        color: white;
      }

      &::placeholder {
        color: black;
      }

      &:hover::placeholder {
        color: white;
        -webkit-transition: opacity 5s ease-in-out;
        transition: opacity 5s ease-in-out;
      }
    }

    svg {
      position: absolute;
      font-size: 1.5rem;
      position: absolute;
      margin-left: 15px;
      cursor: pointer;
    }
  }
}
